<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
            <form action="" method="post">
                <table>
                    <tr>
                        <th>Reply</th>
                    <td><textarea name="rep" id="" cols="20" rows="10"></textarea></td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center"><input type="submit" name="send" value="SEND"></td>
                    </tr>
                </table>
            </form>
    
        </body>
</html>