<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>WELCOME</h1>
        <H2>ADMIN HOMEPAGE</H2>
        <a href="/managestaff">Manage staff</a><br>
        <a href="/manageclient">Manage client</a><br>
        <a href="/addwork">Add work</a><br>
        <a href="/viewtickets">Tickets</a><br>
        <a href="/viewcomplaints">complaints</a><br>
        <a href="/sendnotifications">Notifications</a><br>
        <a href="/viewreminder">Reminders</a><br>
        <a href="/chatwclient">chat</a><br>
    </center>
</body>
</html>